<template>
  <q-page padding>
    <q-btn label="Create" icon="add" v-if="!create" @click.native="toggleCreate"/>
    <q-btn label="Cancel" icon="cancel" v-if="create" @click.native="toggleCreate"/>
    <TasksList v-if="!create"/>
    <TaskCreate v-if="create" @created="toggleCreate"/>
  </q-page>
</template>

<script>
import TasksList from '../components/TasksList'
import TaskCreate from '../components/TaskCreate'
export default {
  data () {
    return {
      create: false
    }
  },
  methods: {
    toggleCreate () {
      this.create = !this.create
    }
  },
  components: {
    TasksList, TaskCreate
  }
}
</script>
