<template>
  <q-page class="">
    <div class="row justify-center q-my-lg content-around justify-around">
        <div class="col-md-7 col-xs-10">
          <TaskItem
            v-for="task in tasks"
            :key="task.node.id"
            :task="task"
          />
      </div>
    </div>
  </q-page>
</template>

<script>
import {stuff} from '../plugins/graphql'
import TaskItem from '../components/TaskItem'
import Vue from 'vue'

export default {
  name: 'PageIndex',
  data () {
    return {
      // Initialize your apollo data
      tasks: []
    }
  },
  apollo: {
    // Simple query that will update the 'hello' vue property
    tasks: {
      query: stuff.GET_TASKS,
      update (data) {
        console.log(data)
        // The returned value will update
        // the vue property 'pingMessage'
        return data.viewer.allTasks.edges
      }
    }
  },
  components: {
    TaskItem
  },
  mounted () {
    console.log('c $apollo', this.$apollo)
    console.log('c Vue.provide', Vue.provide)
  }
}
</script>
<style>
</style>
