<template>
  <q-page class="column justify-center items-center">
    <q-card>
      <q-card-title>
        Login
      </q-card-title>
      <q-card-separator/>
      <q-card-main>
        <q-field icon="face">
          <q-input v-model="credentials.username" placeholder="Your name" class="full-width"/>
        </q-field>
        <q-field icon="vpn_key">
          <q-input v-model="credentials.password" type="password" placeholder="Your password" class="full-width"/>
        </q-field>
        <q-btn color="primary" class="full-width" @click="performLogin">Login</q-btn>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data () {
    return {
      credentials: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    performLogin () {
      if (!this.credentials.username.length) {
        this.$q.notify({
          message: 'no user name',
          position: 'top'
        })
        return
      }
      // We save the user input in case of an error
      const creds = this.credentials
      // We clear it early to give the UI a snappy feel
      // Call to the graphql mutation
      this.$q.loading.show({
        delay: 4 // ms
      })
      this.$apollo.mutate({
        // Query
        mutation: this.$graphql.LOGIN_MUTATION,
        // Parameters
        variables: {
          creds
        }
      }).then((data) => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'success',
          position: 'top',
          color: 'positive'
        })
        // console.log('data')
        // console.log(data)
        // console.log('user')
        // console.log(data.data.loginUser.user)
        // commit mutation and save to ls
        this.login(data)
        this.$router.push({name: 'admin'})
      }).catch((error) => {
        this.$q.loading.hide()
        // Error
        console.error(error)
        // We restore the initial user input
        this.$q.notify({
          message: error.message,
          position: 'top'
        })
        this.credentials = creds
      })
    }
  }
}
</script>

<style>
</style>
