<template>
  <q-page padding class="column justify-center items-center">
    <q-card>
      <q-card-title>
        Register
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-field icon="face">
          <q-input v-model="credentials.username" placeholder="Your name" class="full-width" />
        </q-field>
        <q-field icon="vpn_key">
          <q-input v-model="credentials.password" type="password" placeholder="Your password" class="full-width" />
        </q-field>
        <q-btn color="primary" class="full-width" @click="submit">Register</q-btn>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'RegisterPage',
  data () {
    return {
      credentials: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    submit () {
      // We save the user input in case of an error
      const creds = this.credentials
      // We clear it early to give the UI a snappy feel
      this.credentials = ''
      // Call to the graphql mutation
      this.$apollo.mutate({
        // Query
        mutation: this.$graphql.CREATE_USER_MUTATION,
        // Parameters
        variables: {
          creds
        }
      }).then((data) => {
        // redirect to login page
        this.$router.replace('/login')
      }).catch((error) => {
        // Error
        console.error(error)
        // We restore the initial user input
        this.$q.notify({
          message: error.message,
          position: 'top'
        })
        this.credentials = creds
      })
    }
  }
}
</script>

<style>
</style>
