<template>
  <div class="TaskCreate">
    <q-card class="q-my-lg">
      <q-card-title>
        Create Task
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <p class="q-subheading">Name</p>
        <q-input v-model="task.name" class="q-my-lg"/>
        <p class="q-subheading ">Description</p>
        <q-editor v-model="task.desc" class="q-my-lg" />
        <q-btn label="Create" icon="done" color="secondary" @click.native="createTask"/>
      </q-card-main>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'TaskCreate',
  data () {
    return {
      task: {
        name: '',
        desc: ''
      }
    }
  },
  methods: {
    createTask () {
      // We save the user input in case of an error
      const task = this.task
      // We clear it early to give the UI a snappy feel
      this.task = {
        name: '',
        desc: ''
      }
      this.$q.loading.show()
      // Call to the graphql mutation
      console.log(this.$apollo)
      this.$apollo.mutate({
        // Query
        mutation: this.$graphql.CREATE_TASK,
        // Parameters
        variables: {
          task
        }
      }).then((data) => {
        // redirect to login page
        this.$q.notify({
          message: 'created',
          position: 'top',
          color: 'positive'
        })
        this.$emit('created')
        // this.$apollo.queries.getTasks.refresh()
        this.$q.loading.hide()
      }).catch((error) => {
        // Error
        console.error(error)
        // We restore the initial user input
        this.$q.notify({
          message: error.message,
          position: 'top'
        })
        this.task = task
        this.$q.loading.hide()
      })
    }
  }
}
</script>
