<template>
    <q-card
      class="TaskItem q-my-lg "
    >
      <q-card-title class="bg-grey-4">
        {{task.node.name}}
      </q-card-title>
      <q-card-separator />
      <q-card-main class="bg-grey-3">
        <div v-html="task.node.desc" class="q-mb-lg"></div>
        <q-card-separator />
        <q-card-actions align="end">
          <q-btn  class="" round size="sm" icon="delete" color="red-5" @click.native="removeTask(task)"/>
        </q-card-actions>
      </q-card-main>
    </q-card>
</template>

<script>
export default {
  name: 'task-item',
  props: ['task'],
  methods: {
    removeTask (task) {
      let id = task.node.id
      this.$q.loading.show({
        delay: 4 // ms
      })

      this.$apollo.mutate({
        // Query
        mutation: this.$graphql.DELETE_TASK,
        // Parameters
        variables: {
          'id': {
            id
          }
        }
      })
        .then((data) => {
          this.$q.notify({
            message: 'deleted',
            position: 'top'
          })
          this.$apollo.queries.tasks.refetch()
          this.$q.loading.hide()
        })
        .catch((error) => {
          this.$q.notify({
            message: error.message,
            position: 'top'
          })
          this.$q.loading.hide()
        })
    }
  }
}
</script>

<style>
  .TaskItem {
  }
</style>
