<template>
  <div>
    <q-card
      v-for="(task, index) in tasks"
      :key="index"
      class="q-my-lg"
    >
      <q-card-title>
        {{task.node.name}}
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <div class="q-my-sm" v-html="task.node.desc"></div>
        <q-btn label="Delete" class="q-my-md" icon="delete" color="negative" @click.native="removeTask(task)"/>
      </q-card-main>
    </q-card>
  </div>
</template>

<script>
import {stuff} from '../plugins/graphql'
export default {
  data () {
    return {
      tasks: []
    }
  },
  methods: {
    removeTask (task) {
      let id = task.node.id
      this.$q.loading.show({
        delay: 4 // ms
      })

      this.$apollo.mutate({
        // Query
        mutation: this.$graphql.DELETE_TASK,
        // Parameters
        variables: {
          'id': {
            id
          }
        }
      })
        .then((data) => {
          this.$q.notify({
            message: 'deleted',
            position: 'top'
          })
          this.$apollo.queries.tasks.refetch()
          this.$q.loading.hide()
        })
        .catch((error) => {
          this.$q.notify({
            message: error.message,
            position: 'top'
          })
          this.$q.loading.hide()
        })
    }
  },
  apollo: {
    // Simple query that will update the 'hello' vue property
    tasks: {
      query: stuff.GET_TASKS,
      update (data) {
        this.$apollo.queries.tasks.refetch()
        return data.viewer.allTasks.edges
      }
    }
  }
}
</script>
