<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="false"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
         Blog
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-item :to="{name: 'register'}" v-if="!isLoggedIn">
          <q-item-main label="register"  />
        </q-item>
        <q-item :to="{name: 'login'}" v-if="!isLoggedIn">
          <q-item-main label="login"  />
        </q-item>

        <q-item v-if="isLoggedIn" @click.native="logout">
          <q-item-main label="logout"  />
        </q-item>
        <q-item :to="{name: 'home'}">
          <q-item-main label="home"  />
        </q-item>
        <q-item :to="{name: 'admin'}" v-if="isLoggedIn">
          <q-item-main label="admin"  />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'LayoutDefault',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
  .q-layout-page {
    /*padding-top: 0px;*/
  }
</style>
